<table>
    <tr>
        <th>날짜</th>
        <th>간호사</th>
        <th>근무 타입</th>
    </tr>
    {% for day in schedule %}
        <tr>
            <td>{{ day.date }}</td>
            {% for shift in day.shifts %}
                <td>
                    {% if shift.nurse == '간호사 부족' %}
                        {{ shift.nurse }}
                    {% else %}
                        {{ shift.nurse.name }}
                    {% endif %}
                </td>
                <td>{{ shift.shift }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
